

<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--Custom js -->    
    <script type="text/javascript" src="script/script.js"></script>
  
  </body>
  
  <div class="footer color-dark">
  	<span>Design and development by Katya Gurina-Robinson</span> <br>
  	<span>Copyright 2017</span>
  </div>

</html>