


<div class="nav-side-menu">
    <div class="brand">
       <img id="logo" class="hidden-xs" src="images/logo.jpg">
       <ul class="social-links">
          <a href="#"><img src="images/codepen.png"></a>
          <a href="#"><img src="images/codepen.png"></a>
          <a href="#"><img src="images/codepen.png"></a>
       </ul>
    </div>
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                   Home
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#about" class="collapsed active">
                  <a href="#">About <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="about">
      
                    <li><a href="#">My Hobbies</a></li>
                    <li><a href="#">Coding Challenges</a></li>
                </ul>


                 <li>
                  <a href="#">
                  Portfolio
                  </a>
                  </li>

                 <li  data-toggle="collapse" data-target="#blog" class="collapsed active">
                  <a href="#">Blog <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="blog">
      
                    <li><a href="#">100DaysOfCode</a></li>
                    <li><a href="#">DailyCSSImages</a></li>
                    <li><a href="#">FreeCodeCamp</a></li>
                    <li><a href="#">Web Developer Bootcamp</a></li>
                </ul>

                <li>
                  <a href="#">Contact</a>
                </li>

                <li>
                  <a href="#">Resume</a>
                </li>

            </ul>
     </div>
</div>
