<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <div class="brand">
       <img id="logo" class="hidden-xs" src="images/logo.jpg">
       <ul class="social-links">
          <li><a href="#"><img src="images/codepen.png"></a></li>
          <li><a href="#"><img src="images/codepen.png"></a></li>
          <li><a href="#"><img src="images/codepen.png"></a></li>
       </ul>
    </div>
    <span class="spacer"></span>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Home
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#about" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> About <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="about">
      
                    <li><a href="#">My Hobbies</a></li>
                    <li><a href="#">Coding Challenges</a></li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Portfolio
                  </a>
                  </li>

                 <li  data-toggle="collapse" data-target="#blog" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Blog <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="blog">
      
                    <li><a href="#">100DaysOfCode</a></li>
                    <li><a href="#">DailyCSSImages</a></li>
                    <li><a href="#">FreeCodeCamp</a></li>
                    <li><a href="#">Web Developer Bootcamp</a></li>
                </ul>

                <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Contact
                  </a>
                </li>

                <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Resume
                  </a>
                </li>

            </ul>
     </div>
</div>