


<div class="nav-side-menu color-light">
    <div class="brand">
       <img id="logo" class="hidden-xs" src="/images/logo.jpg">
       <ul class="social-links">
         
          <a href="https://github.com/KatyaRobinson" target="_blank"><img src="/images/github.svg" ></a>
          <a href="http://codepen.io/katyarobinson/" target="_blank"><img src="/images/codepen.svg"></a>
          <a href="https://twitter.com/katya_grobinson" target="_blank"><img src="/images/twitter.svg"></a>
          <a href="https://www.facebook.com/katya.gurina" target="_blank"><img src="/images/facebook.svg"></a>
          <a href="https://www.instagram.com/katya.g.robinson/" target="_blank"><img src="/images/instagram.svg"></a>
       </ul>
    </div>
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <a href="/home"><li>Home</li></a>

                <!-- <a href="/about"><li  data-toggle="collapse" data-target="#about" class="collapsed">
                  About ><span class="arrow"></span>
                </li></a>
                <ul class="sub-menu collapse" id="about">
      
                    <li class="color-dark"><a href="#">My Hobbies</a></li>
                    <li class="color-dark"><a href="#">Coding Challenges</a></li>
                </ul> -->
                  
                 <a href="/about"><li>About</li> </a>
              
                 <a href="/portfolio"><li>Portfolio</li> </a>

                  <a href="#"><li  data-toggle="collapse" data-target="#blog" class="collapsed">
                 Blog ><span class="arrow"></span>
                </li></a>
                <ul class="sub-menu collapse" id="blog">
      
                    <li class="color-dark"><a href="#">100DaysOfCode</a></li>
                    <li class="color-dark"><a href="#">DailyCSSImages</a></li>
                    <li class="color-dark"><a href="#">FreeCodeCamp</a></li>
                    <li class="color-dark"><a href="#">Web Developer Bootcamp</a></li>
                </ul>

                <a href="#"><li>
                  Contact
                </li></a>

               <a href="#"> <li>
                  Resume
                </li></a>

            </ul>
     </div>
</div>
