<% include partials/header %>
<% include partials/sidebar %>

<div class="page-body">
	<div class="container-fluid">
		
		<div class="photos">
			<img class="img-responsive about-pic" src="/images/2005.jpg" alt="">
		</div>
		
			<h2 class="text-center">Hello, I'm Katya</h2>
			<p class="main-text"> I was born in a small town in Russia in 1987, where I lived for 19 years until eventually moving to the United States in 2008. Although I love Russia and visit my family there as often as I can, I never regretted the decision to come to the States and I feel truly at home here. 
			</p>
			<p class="main-text">
			For a few years I worked in a small resort boutique in Rehoboth, DE and boy was that a great time living and working at the beach! But after a while it became clear to me that the job was not fulfilling and my creative itch was not being scratched. In the fall of 2013 I enrolled in a local community college and 1.5 years later graduated with an Associate Degree in Web Development. College was great, it combined everything I was desperate for in my daily life - learning, creating, and the feeling of accomplishment.
			</p>
			
			<div class="photos">
				<img class="img-responsive about-pic" src="/images/2015.jpg" alt="">
			</div>
			<p class="main-text">
			 After walking the stage and receiving the diploma my learning journey did not end though, it has just began. I took any opportunity I could to soak up knowledge from any sources. I read books, listened to the development podcasts, signed up for online courses, followed tutorials, and more importantly - worked on personal projects. I dug into the web development universe of knowledge and it seemed like the more I learned, the less I knew. It would be exhaustive if it wasnt for one simple fact - I thoroughly enjoyed the process! And I still do.
			 </p>
			 <div class="photos">
				<img class="img-responsive about-pic" src="/images/laptop.jpg" alt="">
			</div>
			<p class="main-text">
			Recently I moved to Philadelphia - a city I always admired. I am always open to discuss new opportunities, be it a full-time/part-time job, internship, or an interesting project! <a href="/contact"> Contact me </a> and let's chat! 
			</p>
		</div>	

	</div>

</div>

<% include partials/footer %>