<% include partials/header %>
<% include partials/sidebar %>

<div class="page-body">
	<div class="container-fluid">
			
			<h1 class="text-center">Coding Challenges</h1>
			<p class="main-text"> Introduction to how I learn and specifically, coding challenges I participate in
			</p>
			
			
		<!-- Daily CSS Images -->
			<h2 class="text-center">Daily CSS Images</h2>

			<div class="photos">
				<img class="img-responsive about-pic" src="/images/dailycssimages.png" alt="">
				<div class="caption">The very first image a participant is prompted to recreate with CSS</div>
			</div>

			<p class="main-text">
				Daily CSS Challenge is a great way to build CSS drawing skills. Every day you receive a prompt to create an image using only HTML and CSS. It starts out with a simple image and a thorough tutorial that walks you through the creating process step by step. After that you're left with your own creativity and the help of the community that was built around this challenge (mostly Facebook group and the #dailycssimages hashtag on Twitter).  I tried out this challenge in for a little over a week. It was fun in the beginning because it was a new concept which required developing of a new set of skills, but after a while the prompts became a little repetitive and I decided I had other things to do that will benefit me better. Also, I am not really an artists, so it bothered me that I could get as efficient in drawing shapes as I can ever be, but it will never look great because I simply can't draw.

				Eventually along the course you are encouraged to add animation to make your creations even more advanced and fun to look at. I don't know what else happens deeper in the course, maybe things get taken to a whole new level again, but like I said - I shamefully dropped out after just 1,5-2 weeks. Still happy to have done it though, being able to draw animation with lines of code feels pretty darn good.
			</p>

			<p class="main-text">
			<!-- 	<ul class="about-me-footer"> -->
					<a href="#">My portfolio</a> </br>
					<a href="#">Challenge official page</a>
				<!-- </ul>	 -->
			</p>

			<!-- 100 Days Of Code -->
			<h2 class="text-center">100 Days Of Code</h2>

			<div class="photos">
				<img class="img-responsive about-pic" src="/images/100.png" alt="">
				<div class="caption">My GitHib contributions during the challenge</div>
			</div>

			<p class="main-text">
				But still, the best challenge of all that has taken my coding routine to the next level is #100DaysOfCode. I've seen it mentioned a lot on Twitter and I kind of got interested, but then the Code Newbie podcast talked about it in one of the episodes and I finally committed. This was the best decision I've made in a long time. I think the main reasons this challenge works, or at least, worked for me, were: <br>

				- Being pressured to code every single day, even for just a little bit - NO EXCUSES  <br>
				- The ability to look back at the growing log of the passed days <br>
				- Getting instant gratification after posting about your progress on Twitter, receiving likes and reposts and followers <br>

				All of this made my coding hours fun and something to look forward to, not a chore! Every day I would sit down, code, push my code to GitHub, complete a little log entry in my #100DaysOfCode repo on GutHub, tweet an update to my followers and the #100DaysOfCode community, and it felt GOOD. I managed to get one whole freelance project done while doing the Challenge ("Movement Source"), learned a whole new development stack (MEAN, just without Angular), and accumulated a good tweeter follow crowd (200 people is something I could only dream about when I first created my account 4 months before).
			</p>

			<p class="main-text">
			<!-- 	<ul class="about-me-footer"> -->
					<a href="#">My portfolio</a> </br>
					<a href="#">Challenge official page</a>
				<!-- </ul>	 -->
			</p>



	</div>

</div>

<% include partials/footer %>