<% include partials/header %>
 <% include partials/sidebar %>

<div class="page-body">
	<!-- header -->

	<div class="header color-base">				
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-9 col-md-12">
				<!-- Workplace -->
					<div class="workplace">
						<div class="cup">
	   						 <div class="cup-body color-dark">
	  						 	<div class="cup-top"></div>
	                         	<div class="cup-handle color-dark"></div>
	                        </div>
	                   </div>

	                   <div class="computer">
	                       <div class="desktop color-light">
	                           <div class="screen">
	                           		<div class="screen-text">
										<p class="code">
										Hello, World! My name is Katya, I'm a web developer. Welcome to my personal website!
										</p>
	                           		 </div>
	                           </div>
	                           <div class="circle"></div>
	                      </div>
	                       <div class="stand color-light"></div>
	      				   <div class="bottom color-light"></div>
	                  </div> 
	                </div>
	             </div>
	             <!-- Side buttons -->
  				<div class="col-lg-3 col-md-12">
  					<div class="side-buttons">
  						<button class="btn btn-defaul color-dark">Let's Build You a Website</button>
  						<button class="btn btn-defaul color-dark">Hire Me</button>
  						<button class="btn btn-defaul color-dark">See My Work</button>
  					</div>	
  				</div>

			</div>
			<hr class="table-top">

			<!-- make pretty button and options -->
			<div class="row">
				<div class="make-pretty col-lg-6 col-lg-offset-3 col-md-12">
					<button class="btn btn-default" id="make-pretty-btn">Sprinkle Some Color!</button>
					<ul id="make-pretty-options">
						<li id="blue"></li>
						<li id="green"></li>
						<li id="purple"></li>
						<li id="original"></li>
					</ul>
				</div
			 </div>	
		</div>
	</div>

	<!-- featured projects -->

	<div class="container-fluid">

		<div class="projects-outline">
			<h1 class="text-center section-title"> Featured Projects <hr> </h1>


		
			<div id="featured-projects" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#featured-projects" data-slide-to="0" class="active"></li>
					<li data-target="#featured-projects" data-slide-to="1"></li>
					<li data-target="#featured-projects" data-slide-to="2"></li>
					<li data-target="#featured-projects" data-slide-to="3"></li>
				</ol>
				
				<!-- wrapper for slides -->
				<div class="carousel-inner" role="listbox">

				<!-- project 1 -->

					<div class="item active">
					
						<a href="/projects/1"><img src="images/movement-source.png" alt="The Movement Source Websites" width="460" height="345"></a>
						<div class="carousel-caption">
							<a href="/projects/1"><h3>Movement Source</h3></a>
							<p>A Bootstrap-based website for a pilates studios located in Philadelphia, PA</p>
							<p class="tools">
								<span class="color-alt">Bootstrap</span>
								<span class="color-alt">jQuery</span>
								<span class="color-alt">PHP</span>
								<span class="color-alt">MySQL</span>
							</p>
							<button class="btn btn-default">Case Study</button>
							<button class="btn btn-default">Demo</button>
							<button class="btn btn-default">Code</button>
						</div>

						

					</div>

				<!-- project 2 -->

					<div class="item">
						<a href="/projects/2"><img src="images/wiki-viewer.png" alt="" width="460" height="345"></a>
						<div class="carousel-caption">
							<a href="/projects/2"><h3>Wikipedia Viewever</h3></a>
							<p>A web application that uses Wikipedia API to search for articles</p>
							<p class="tools">
								<span class="color-alt">Bootstrap</span>
								<span class="color-alt">jQuery</span>
								<span class="color-alt">Wikipedia API</span>
								
							</p>
							<button class="btn btn-default">Case Study</button>
							<button class="btn btn-default">Demo</button>
							<button class="btn btn-default">Code</button>
						</div>
					</div>

				<!-- project 3 -->

					<div class="item">
						<a href="/projects/3"><img src="images/quotes.png" alt="" width="460" height="345"></a>
						<div class="carousel-caption">
							<a href="/projects/1"><h3>Random Quote Generator</h3></a>
							<p>A web application that pulls random quote from http://quotesondesign.com API</p>
							<p class="tools">
								<span class="color-alt">Bootstrap</span>
								<span class="color-alt">jQuery</span>
								<span class="color-alt">QuotesOnDesign API</span>
								
							</p>
							<button class="btn btn-default">Case Study</button>
							<button class="btn btn-default">Demo</button>
							<button class="btn btn-default">Code</button>
						</div>
					</div>
				</div>

				<!-- left and right controls -->
				<a class="left carousel-control" href="#featured-projects" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>

				<a class="right carousel-control" href="#featured-projects" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>

			</div>
		</div>
	</div>

</div>
</div>

<% include partials/footer %>




    