<% include partials/header %>

<div class="page-body">
	<div class="container-fluid">
		<ul class="nav nav-tabs nav-justified" id="project-tabs">
		    <li class="active"><a data-toggle="tab" href="#websites">Websites</a></li>
		    <li><a data-toggle="tab" href="#css-images">Pure CSS Images</a></li>
		    <li><a data-toggle="tab" href="#front-end-projects">Front End Projects</a></li>
		    
  		</ul>

  	<div class="tab-content">

  		<!--Websites-->
    	<div id="websites" class="tab-pane fade in active">
      		<div class="projects-outline">
      			<div class="project-square">
      				<div class="row">
      					<div class="project-card col-md-4 col-sm-12">
      						<img src="images/movement-source.png" height="250px" width="337px" class="image-responsive">
      					</div>
	      				<div class="project-card col-md-4 col-sm-12">frfrf</div>
	      				<div class="project-card col-md-4 col-sm-12">frfrfr</div>
      				</div>
      				<div class="row">
      					<div class="project-card col-md-4 col-sm-12"></div>
	      				<div class="project-card col-md-4 col-sm-12"></div>
	      				<div class="project-card col-md-4 col-sm-12"></div>
      				</div>
	      				
      			</div>	
      		</div>

    	</div>

		<!--Pure CSS Images-->
    	<div id="css-images" class="tab-pane fade">
      		<h3>Menu 1</h3>
     		 <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    	</div>

		<!--Front End Projects-->
    	<div id="front-end-projects" class="tab-pane fade">
      		<h3>Menu 2</h3>
     		 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
   		 </div>

		
  </div>
 </div>
</div>

<% include partials/footer %>