body {
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
}

#logo {
	width: 110px;
	border-radius: 50%;
	margin: 30px 0 10px 0;
  border: 2px solid;
}

.social-links li {
	display: inline;

}



.social-links li img {
	width: 35px;
	margin: 10px 0;
}

.page-body {
	margin-left: 300px; /* compensating for the sidebar */
}

.header {
    background-color: #666666;
    height: 550px;
    width: 100%;
    
}

/* carousel styles */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

 #featured-projects {
 	width: 90%;
 	margin: 0 auto;
 } 

 .carousel-control.left, .carousel-control.right {
 	background-image: none;
 }  

 .projects-outline {
    border: 1px solid;
    margin: 80px;
}


.carousel-caption {
	position: relative;
    bottom: 20px;
    color: #000;
    left: 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    text-shadow: none;
}

.item img {
	border: 2px grey solid;
}
   
.section-title {
	padding: 30px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 3em;
}   

.nav-side-menu ul .sub-menu li::before, .nav-side-menu li .sub-menu li::before {
	content: "";
}

.nav-side-menu ul *:not(collapsed) .arrow::before, .nav-side-menu li *:not(collapsed) .arrow::before {
	content: "";
}


/* Home page header styles */
.side-buttons button {
	display: block;
	width: 90%;
	margin-top: 20px;
}

/* Make-pretty styles */
.make-pretty {
	/*width: 50%;
	margin: 0 auto;*/
	text-align: center;
}


.make-pretty li {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.make-pretty ul {
	  margin-left: 20%;
    padding: 0;
    position: absolute;
    width: 59%;
}

#make-pretty-btn {
    border-radius: 30px;
    height: 46px;
    margin-bottom: 9px;
    width: 75%;
    background-color: #C6392F;
    color: white;
    font-weight:bold;
}

#blue {
  background-color: #1D3461;
}

#green {
  background-color: #749C75;
}

#purple {
  background-color: #372549;
}

#original {
  background-color: #999999;
}

.footer {
    bottom: 0;
    color: white;
    height: 54px;
    padding-top: 4px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}


/* Small screen styles */
@media only screen and (max-width: 1200px) {
   .projects-outline {
   	border: none;
   	margin: 0;
   }
   .side-buttons button {
   	display: inline;
   	width: 30%;
   	margin-left: 1%;
   	margin-top: 32px;
   	background-color: transparent!important;
	  color: #999999;
   }

   .header {
    height: 588px;
   }

   .screen-text {
    padding: 0 0 0 21px;
    
}

}

@media only screen and (max-width: 500px){
    .screen-text {
      width: 60%;
      text-align:center;
    }
}


	

