<% include ../partials/header %>

<div class="container-fluid">
	<div class="page-body">

		<h1><%=project.name%></h1>

<img src="<%= project.image%>">
<p><%= project.description %></p>
	</div>
</div>


<% include ../partials/footer %>